/* App.css */

.scroll-container {
  scroll-snap-type: y mandatory; /* Enable scroll snap */
  overflow-y: scroll;
  height: 200vh; /* Full height */
}

.scroll-section {
  scroll-snap-align: start; /* Each section aligns at the start of the viewport */
  height: 100vh; /* Full viewport height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

